.sidebar-nav {
  padding: 9px 0;
}
.center{
margin:auto;
width:70%;
vertical-align: middle;
}
@media (max-width: 480px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.picture { 
  border-radius:0.7em; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}
.avatar { 
  border-radius:100%; 
  border-width:1px; 
  border-style: dotted solid; 
  width: 40px;
  height: 40px;
  display: inline-block;
}

.author-avatar { 
  border-radius:100%; 
  border-width:1px; 
  border-style: dotted solid; 
  width: 75px;
  height: 75px;
}

.centeredElement {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.caption { 
  font-size:15px; 
}
.author { 
  font-size: 22px;
  font-weight: bold
}
.commenter {
  font-size: 20px;
  font-weight: bold;
  text-align: center
}